# GLOBAL CONFIGURATIONS
GLOBAL_SSH_KEY=
CA_CERT_PATH=
CLIENT_CERT_PATH=
CLIENT_KEY_PATH=
SERVER_CERT_PATH=
SERVER_KEY_PATH=
SERVER_PORT=
SERVER_ADDRESS=

# ==========================================
# NODE 1: AIJA (With Proxy and SSH Tunnel)
# ==========================================
# --- 1. Hardware
AIJA_FACADE_IDENTITY=
AIJA_SAE_ID=

# --- 2. Network Configuration
AIJA_NEED_TUNNEL=
AIJA_BASTION_IP=
AIJA_BASTION_USER=
AIJA_REMOTE_IP=
AIJA_LOCAL_PORT=
AIJA_REMOTE_PORT=
AIJA_BASE_URL=
AIJA_REMOTE_USER=

# ==========================================
# NODE 2: BRENCIS (With Proxy and SSH Tunnel)
# ==========================================
# --- 1. Hardware
BRENCIS_FACADE_IDENTITY=
BRENCIS_SAE_ID=

# --- 2. Network Configuration
BRENCIS_NEED_TUNNEL=
BRENCIS_BASTION_IP=
BRENCIS_BASTION_USER=
BRENCIS_REMOTE_IP=
BRENCIS_REMOTE_PORT=
BRENCIS_LOCAL_PORT=
BRENCIS_BASE_URL=
BRENCIS_REMOTE_USER=