# Virtual Environments
.venv/

# Compiled Python files
**/__pycache__/
*.py[cod]
*$py.class

# PyCharm configuration
.idea/

# Log files
*.log

# Sensitive data
.env
certificates/

# Generated Python files for gRPC
generated/