# ==========================================
# NODE 1: AIJA
# ==========================================
AIJA_REAL_IP=
AIJA_REAL_PORT=
AIJA_CERT_PATH=
AIJA_KEY_PATH=
AIJA_CA_PATH=

# ==========================================
# NODE 1: BRENCIS
# ==========================================
BRENCIS_REAL_IP=
BRENCIS_REAL_PORT=
BRENCIS_CERT_PATH=
BRENCIS_KEY_PATH=
BRENCIS_CA_PATH=